* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DynaPuff", cursive;
  min-height: 100vh;
  padding: 2em 1em;
  background: rgb(45, 251, 115);
  background: linear-gradient(
    60deg,
    rgba(45, 251, 115, 1) 0%,
    rgba(108, 192, 223, 1) 100%
  );
}

.main-container {
  border: 10px solid rgb(235, 144, 144);
  border-radius: 20px;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
  overflow: hidden;
}

h1 {
  font-size: 3em;
  font-weight: 500;
  padding: 0.2em;
  color: #fff;
  background-color: #000;
}

.sketch-board-container {
  background: rgb(251, 244, 45);
  background: linear-gradient(
    180deg,
    rgba(251, 244, 45, 1) 0%,
    rgba(177, 223, 108, 1) 100%
  );
  padding: 0.5em 1em 1em;
  border-top: 10px solid rgb(235, 144, 144);
}

.board {
  max-width: 470px;
  min-height: 470px;
  border: 3px solid rgb(255, 115, 0);
  margin: 2em auto;
  display: grid;
}

.btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.btns button {
  font-size: 1.2em;
  font-family: inherit;
  padding: 0.7em 1em;
  border-radius: 10px;
  border: none;
  box-shadow: 0 2px 10px rgb(223, 187, 187);
  cursor: pointer;
  transition: all ease-in-out 0.13s;
  margin-right: 1em;
  margin-bottom: 1em;
}

.btns button:first-child {
  background-color: rgb(235, 144, 144);
}

.btns button:last-child {
  background-color: rgb(226, 235, 144);
}

.btns button:hover {
  background-color: rgb(235, 144, 144);
  transform: translateY(4px);
}

.color-container {
  display: flex;
  align-items: center;
  font-size: 1.4em;
  margin-right: 0.3em;
}
